<div class="flex items-center justify-between">
    <span routerLink = "/" class = "text-xl" >{{ title() }}</span>
</div>
@if(showResults) {
    <div style = "text-align: center">
        <h1 class = "mb-4  font-extrabold leading-none tracking-tight text-gray-900 md:text-2xl">Finished! How did you do?</h1>
        <p class = "mb-6 md:text-1xl font-normal text-gray-500 sm:px-16 xl:px-48 dark:text-gray-900">Percentage: {{ getPercentage() }}% | Number Correct: {{ numberCorrect }} | Number Incorrect {{ numberIncorrect }}</p>
    </div>
    <div style = "text-align: center">
        @if(getPercentage() !== 100) {
            <button 
            (click)="retryIncorrectOnly()"
            class="align-self:flex-end  p-2 rounded-md bg-gray-500/90 hover:bg-gray-500 text-white outline outline-1 outline-black/5">Retry Incorrect Cards</button>
        }

        <button 
            (click)="retryAll()"
            class="align-self:flex-end  p-2 rounded-md bg-gray-500/90 hover:bg-gray-500 text-white outline outline-1 outline-black/5">Retry All</button>
        <button 
            routerLink = "/"
            class="align-self:flex-end  p-2 rounded-md bg-gray-500/90 hover:bg-gray-500 text-white outline outline-1 outline-black/5">Home</button>
    </div>
}
@else {
    <h1 class = "mb-4 font-extrabold leading-none tracking-tight text-gray-900 md:text-2xl">Taking Test...</h1>
  <div style = "text-align: center" class="grid md:grid-cols-2 gap-8">
    <div>
        <app-flash-card [flashCard]="flashCardsToTestOn[currentCardIndex]"></app-flash-card>
    </div>
    <div></div>
    <div>
        <button 
        (click)="markCorrect()"
        class="align-self:flex-center  p-2 rounded-md bg-green-500/90 hover:bg-green-500 text-white outline outline-1 outline-black/5" >Correct</button>
        <button 
        (click)="markIncorrect()"
        class ="align-self:flex-center p-2 rounded-md bg-red-500/90 hover:bg-red-500 text-white outline outline-1 outline-black/5">Incorrect</button>
    
    </div>
    
    
  </div>
}
